*       text    eol=lf
*.exe   binary
*.dll   binary
*.lib   binary
*.node  binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
*.webp  binary
*.gif   binary
*.cur   binary
*.mp3   binary
*.MP3   binary
*.mp4   binary
*.webm  binary
*.wav   binary
